/* CSS main site styling */
body,
wrapper {
  min-height: 100vh;
}

.body-shelter {
  background-color: #f9f7f2;
}

/* Navigation */
.nav-shelter {
  background: #033f63;
}

.navbar-dark {
  color: #f9f7f2;
}

.navbar-brand {
  font-weight: 700;
}

.nav-seperator {
  margin-left: 0.5rem;
}

/* Buttons */
.btn-primary-shltr {
  background: #fedc97;
  border: 2px solid #fedc97;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-primary-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-seconday-shltr {
  background: #f9f7f2;
  border: 2px solid #fedc97;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-seconday-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-seconday-shltr:hover {
  background-color: #b4b682;
  border-color: #b4b682;
}

.btn-third-shltr {
  background: #f9f7f2;
  border: 2px solid #033f63;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-third-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-third-shltr:hover {
  background-color: #288666;
  border-color: #288666;
}

.shelter-toggler {
    color: #f9f7f2;
}

.shelter-toggler:focus {
    outline: none;
    outline: none;
}

button.navbar-toggler {
    background:none;
    border:none;
    color: #f9f7f2;
    border-color: none;
}

/** Spacer **/
.vert-spacer {
  border: 0;
  border-top: 33px solid #b5b682;
  width: 2px;
  height: 33px;
}

.h2-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid #288666;
  width: 100px;
}

/** Avatar **/

.avatar {
  vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #288666;
  color: #f9f7f2;
  font-style: normal;
  font-weight: bold;
  margin-left: 0.5rem;
}

.profile-avatar {
  vertical-align: middle;
  line-height: 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: #288666;
  color: #f9f7f2;
  font-style: normal;
  font-weight: bold;
  margin-left: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/** Footer based on this Theme https://codepen.io/scanfcode/pen/MEZPNd**/

.site-footer
{
    background-color: #043f63;
    padding: 15px 0 6px;
    font-size: 13px;
    line-height: 14px;
    color: #f9f7f1;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#b4b682;
}
.site-footer a:hover
{
  color: #fedc97;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#b4b682
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fedc97;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:20px;
  height:20px;
  line-height:20px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color: #b4b682;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color: none;
  color: #b4b682;
  font-size:16px;
  display:inline-block;
  line-height:22px;
  width:22px;
  height:22px;
  text-align:center;
  margin-right:4px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fedc97;
  background-color: none
}
.social-icons.size-sm a
{
  line-height:17px;
  height:17px;
  width:17px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/** Cards in Gallery .body-shelter **/

.card-custom {
  max-width: 19rem;
  object-fit: cover;
  object-position: center center;
}

.card-custom img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  object-position: center center;
}

.card-footer-shelter {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border-top: none;
}

.short-description {
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .card-custom {
    max-width: 100%;
  }
  .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: none;
    border-right: none;
    width: none;
    height: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-custom {
    max-width: 15rem;
  }
  .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: none;
    border-right: none;
    width: none;
    height: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-custom {
    max-width: 14rem;
  }
    .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: none;
    border-right: none;
    width: none;
    height: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-custom {
    max-width: 19rem;
  }
}

@media (min-width: 1200px) {
  .card-custom {
    max-width: 22.5rem;
  }
  .card-custom img {
    min-height: 20rem;
  }
}
/* insert media querys for tablet (max-width 14rem), mobile l (12ren), mobile m and smaller (max-width: 100%) */
