/* CSS main site styling */

.body-shelter {
  background-color: #f9f7f2;
  min-height: 100vh
}

/* Navigation */
.nav-shelter {
  background: #033f63;
}

.navbar-dark {
  color: #f9f7f2;
}

.navbar-brand {
  font-weight: 700;
}

.nav-seperator {
  margin-left: 0.5rem;
}

/* Buttons */
.btn-primary-shltr {
  background: #fedc97;
  border: 2px solid #fedc97;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-primary-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-seconday-shltr {
  background: #f9f7f2;
  border: 2px solid #fedc97;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-seconday-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-seconday-shltr:hover {
  background-color: #b4b682;
  border-color: #b4b682;
}

.btn-third-shltr {
  background: #f9f7f2;
  border: 2px solid #033f63;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #043f63;
}

.btn-third-shltr:focus {
  box-shadow: 0 0 0 0.01rem rgb(4 63 99);
}

.btn-third-shltr:hover {
  background-color: #288666;
  border-color: #288666;
}

.shelter-toggler {
    color: #f9f7f2;
}

.shelter-toggler:focus {
    outline: none;
    outline: none;
}

button.navbar-toggler {
    background: none;
    border:none;
    color: #f9f7f2;
}

/** Spacer **/
.vert-spacer {
  border: 0;
  border-top: 33px solid #b5b682;
  width: 2px;
  height: 33px;
}

.h2-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid #288666;
  width: 100px;
}

/** Avatar **/

.avatar {
  vertical-align: middle;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #288666;
  color: #f9f7f2;
  font-style: normal;
  font-weight: bold;
  margin-left: 0.5rem;
}

.profile-avatar {
  vertical-align: middle;
  line-height: 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: #288666;
  color: #f9f7f2;
  font-style: normal;
  font-weight: bold;
  margin-left: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/** Footer based on this Theme https://codepen.io/scanfcode/pen/MEZPNd **/

.site-footer
{
    background-color: #043f63;
    padding: 15px 0 6px;
    font-size: 13px;
    line-height: 14px;
    color: #f9f7f1;
    flex-shrink: 0;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#b4b682;
}

.site-footer a:hover {
  color: #fedc97;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block
}

.footer-links a {
  color:#b4b682
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#fedc97;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}

.copyright-text {
  margin:0
}

@media (max-width:991px) {
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px) {
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}

/** Cards in Gallery .body-shelter **/

.card-custom {
  max-width: 19rem;
  object-fit: cover;
  object-position: center center;
}

.card-custom img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  object-position: center center;
}

.card-footer-shelter {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border-top: none;
}

.short-description {
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/** Media Queries **/

@media (max-width: 575.98px) {
  .card-custom {
    max-width: 100%;
  }
  .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: 0px;
    border-right: 0px;
    width: 0px;
    height: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-custom {
    max-width: 15rem;
  }
  .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: 0px;
    border-right: 0px;
    width: 0px;
    height: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-custom {
    max-width: 14rem;
  }
    .avatar {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .nav-seperator {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .vert-spacer {
    border: 0px;
    border-right: 0px;
    width: 0px;
    height: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-custom {
    max-width: 19rem;
  }
}

@media (min-width: 1200px) {
  .card-custom {
    max-width: 22.5rem;
  }
  .card-custom img {
    min-height: 20rem;
  }
}
