{% extends 'base.html' %} {% block nav_about %}active{% endblock %} {% block
content %}
<!-- Introduction about the provider of the Shelter community -->
<h2>About Us</h2>
<div class="h2-spacer"></div>
<p>
  <strong>Shelter</strong> wants to be your one stop place to get the latest
  updates on outdoor gear and gadgets. We give you the chance to share your
  latest gear findings with the community and explore the hottest trends in
  outdoor equipment.
</p>
<h2>Who are we?</h2>
<div class="h2-spacer"></div>
<p>
  We are 4 close friends that share the desire to spend as much time outside as
  possible. Our interests range from bird watching, wave and kite surfing,
  fishing, hiking, running, traveling, camping and climbing to cooking, making
  smores over a campfire, studying sunsets and much much more. With the love for
  the outdoors and an active lifestyle we want to connect to like-minded awesome
  people and build a caring, sustainable and inspiring community
</p>
<h2>What do we want to accomplish?</h2>
<div class="h2-spacer"></div>
<p>
  We love the outdoors and enjoying life under the blue sky. Based on this love
  we are always interessted in the newest innovation, the hottest trends or the
  most enduring and useful gear. Sitting at the campfire and talking to friends,
  family and other campsite visitors always reveals new ideas and viewpoints
  which we try to capture. This campfire chat about great gear or gadgets is
  what we try to bring to the web. We love the energy of the outdoor community
  and want to create a space where anyone can find inspiration or real-life tips
  on gear experiences. Therefore we all can benefit and spend our hard earned
  money for things that are time-tested and reliable.
</p>

{% endblock %}
