{% extends 'base.html' %} {% block content %}

<h2>Add Gear</h2>
<div class="h2-spacer"></div>
<!-- Form to collect necessary information for gear postings -->
<form action="{{ url_for('insert_gear') }}" method="POST">
  <div class="form-group">
    <label for="modelInput">Model</label>
    <input
      type="text"
      class="form-control"
      id="model"
      name="model"
      placeholder="e.g. Better-Sweater"
      required
    />
  </div>
  <div class="form-group">
    <label for="brandInput">Brand</label>
    <input
      type="text"
      class="form-control"
      id="brand"
      name="brand"
      placeholder="e.g. Patagonia"
      required
    />
  </div>
  <div class="form-group">
    <label for="categoryInput">Category</label>
    <select class="form-control" id="category_name" name="category_name" required>
      <option selected disabled value="">Choose your Category</option>
      {% for cat in category_sel %}
        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      placeholder="This is a comfortable and versatile fleece jacket"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="ratingInput">Gear Rating - 1 (worst) to 5 (best) Stars</label>
    <input
      type="number"
      min="1"
      max="5"
      class="form-control"
      id="score"
      name="score"
      placeholder="e.g. 4 (for 4 stars)"
      required
    />
  </div>
  <div class="form-group">
    <label for="imageUrl">URL of Image</label>
    <input
      type="text"
      class="form-control"
      id="img_url"
      name="img_url"
      placeholder="e.g. https://patagonia.com/bettersweater.jpg"
      required
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-danger btn-primary-shltr ml-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg> Add Post</button>
  </div>
</form>


{% endblock %}