<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- external css (bootstrap) -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- local css -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">

	<title>Shelter</title>
</head>

<body class="body-shelter">
    <wrapper class="d-flex flex-column">
		<!-- Navbar -->
		<nav class="navbar sticky-top navbar-expand-md navbar-dark nav-shelter">
			<a class="navbar-brand"
				href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/shelter_logo.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">Shelter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item {% block nav_index %}{% endblock %}">
							<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item {% block nav_gallery %}{% endblock %}">
							<a class="nav-link" href="{{url_for('get_gear')}}">Gear Gallery</a>
						</li>
					</ul>
                <form method="POST" action="/">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                                    <div class="input-group input-group-sm">
                                    <input class="form-control py-2 border-right-0 border" formmethod="POST" type="search" value="" name="search" id="search" placeholder="Search">
                                        <span class="input-group-append">
                                            <button class="btn btn-primary-shltr border-left-0 border pr" action="url_for{{'search'}}" type="submit" id="searchbtn">
                                                <svg width="1em" height="1em" class="bi bi-search shelter-blue" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                                                </svg>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                </form>
            </div>
            {% if 'username' in session %}
               <ul class="nav navbar-nav">
                <a href="{{url_for('myprofile', user=session.username)}}" class="btn btn-sm avatar" tabindex="-1" role="button">{{ session.username[0].capitalize() }}</a>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                     <a href="{{url_for('signup')}}" class="btn btn-sm btn-primary mr-1 ml-1">Sign Up!</a>
                    </li>
                    <li class="nav-item">
                     <a href="{{url_for('signin')}}" class="btn btn-sm btn-danger">Log In!</a>
                    </li>
                </ul>
            {% endif %}
		</nav>

		<!-- Core Content -->
        <main class="flex-fill">
		<div class="container mt-2">
			{% block content %}
			{% endblock %}
		</div>
        </main>

		<!-- Footer -->
		<footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
    </wrapper>

    <!-- Log in -->

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('signin') }}" method=POST>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="usersname" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
        </div>
    </div>
    </div>

<div class="text-center">

</div>

	<!-- external JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	<!-- internal JS -->
</body>

</html>