{% extends 'base.html' %} {% block nav_gallery %}active{% endblock %} {% block
content %}

<h2>#{{h2_title}}</h2>
<div class="h2-spacer"></div>
<!-- Display Postings from chosen Category -->
<div class="container-fluid">
  <div class="row justify-content-between">
    {% if post_by_category|length %} {% for post in post_by_category %}
    <!-- If posts for this category are found create cards -->

    <div class="card card-custom mb-2">
      <img src="{{post.img_url}}" class="card-img" alt="Gear Picture" />
      <div class="card-body text-center">
        <p class="card-text"><small>#{{post.category_name}}</small></p>
        <h5 class="card-title">{{post.model}} - {{post.brand}}</h5>
        <p class="card-text short-description">{{post.description}}</p>
        <p class="card-text text-bottom">
          <small class="text-muted">Rating:<br />{{post.score}} Stars</small>
        </p>
      </div>
      <div class="card-footer card-footer-shelter text-center">
        <a
          href="{{url_for('gear_details', gear_id=post._id)}}"
          class="btn btn-sm btn-outline-primary btn-third-shltr"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-journal-text"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
            />
            <path
              d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
            />
            <path
              fill-rule="evenodd"
              d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          Details
        </a>
      </div>
    </div>

    {% endfor %} {% else %}
    <!-- If nothing was found give the user the chance to sign up / create gear -->
    <div>
      <p>Too bad... We couldn't find a posting in the Category...</p>
      {% if 'username' in session %}
      <p>
        Want to create the first post in this Categroy?
        <a href="{{url_for('add_gear' )}}">Add Gear now!</a>
      </p>
      {% else %}
      <p>
        Want to create the first post in this Categroy?
        <a href="{{ url_for('signup') }}">Sign up here!</a>
      </p>
      {% endif %}
    </div>

    {% endif %}
  </div>
</div>

{% endblock %}
