{% extends 'base.html' %}
{% block nav_gallery %}active{% endblock %}
{% block content %}

<h2>Gear Recommendations</h2>
<div class="h2-spacer"></div>

<div class="container-fluid">
    <div class="row justify-content-between">
{% for gear in gear_collection %}


        <div class="card card-custom mb-1">
			<img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
            <div class="card-body text-center">
                <p class="card-text"><small>#{{gear.category_name}}</small></p>
                <h5 class="card-title">{{gear.model}} - {{gear.brand}}</h5>
                <p class="card-text short-description">{{gear.description}}</p>
                <p class="card-text text-bottom"><small class="text-muted">Rating:<br>{{gear.score}} Stars</small></p>
            </div>
            <div class="card-footer card-footer-shelter text-center">
                <a href="{{url_for('gear_details', gear_id=gear._id)}}" class="btn btn-primary ">Read More...</a>
            </div>
        </div>
	
{% endfor %}
    </div>
</div>


{% endblock %}