{% extends 'base.html' %}
{% block nav_gallery %}active{% endblock %}
{% block content %}

<h2>Gear Recommendations</h2>
<div class="h2-spacer"></div>

<div class="container-fluid">
    <div class="row justify-content-between">
{% for gear in gear_collection %}


            <div class="card card-custom mb-1">
			<img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
            <div class="card-body">
                <h5 class="card-title">{{gear.model}}</h5>
                <p class="card-text">{{gear.description}}</p>
            </div>
            <div class="card-footer card-footer-shelter">
                <a href="#" class="btn btn-primary ">Details</a>
            </div>
            </div>
	
{% endfor %}
    </div>
</div>


{% endblock %}