{% extends 'base.html' %}
{% block nav_gallery %}active{% endblock %}
{% block content %}

<h1>Gear Gallery Test-Site</h1>

<div class="container">
    <div class="row mt-5 justify-content-center">
{% for gear in gear_collection %}


            <div class="card card-custom mx-1 mb-2"">
			<img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
            <div class="card-body">
                <h5 class="card-title">{{gear.model}}</h5>
                <p class="card-text">{{gear.description}}</p>
            </div>
            <div class="card-footer card-footer-shelter">
                <a href="#" class="btn btn-primary ">Details</a>
            </div>
            </div>
	
{% endfor %}
    </div>
</div>


{% endblock %}