{% extends 'base.html' %}
{% block nav_index %}active{% endblock %}
{% block content %}


<h2>Featured Gear</h2>
<div class="h2-spacer"></div>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for feat in rdm_feat %}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.cycle('1','2', '3') }}" class="{{ loop.cycle('active','', '') }}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for feat in rdm_feat %}
            <div class="carousel-item {{ loop.cycle('active','', '') }}">
            <img src="{{feat.img_url}}" class="d-block w-100" alt="Image of {{feat.model}}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{feat.model}} - {{feat.brand}}</h5>
                <p>{{feat.description}}</p>
                <p>{{feat.is_featured}}</p>
            </div>
            </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h2>Recent Gear</h2>
<div class="h2-spacer"></div>

<div class="container-fluid">
    <div class="row justify-content-between">

{% for gear in gear_collection if not gear.is_featured %}
       <div class="card card-custom mb-1">
			<img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
            <div class="card-body text-center">
                <p class="card-text"><small>#{{gear.category_name}}</small></p>
                <h5 class="card-title">{{gear.model}} - {{gear.brand}}</h5>
                <p class="card-text short-description">{{gear.description}}</p>
            </div>
            <div class="card-footer card-footer-shelter text-center">
                <a href="#" class="btn btn-primary ">Read More...</a>
            </div>
        </div>
{% endfor %}
    </div>
</div>



{% endblock %}