{% extends 'base.html' %}
{% block content %}


<h2>Featured Gear</h2>
<div class="h2-spacer"></div>


{% for gear in gear_collection %}
    {% if gear.is_featured %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{gear.model}} - {{gear.brand}}</h5>
                        <p class="card-text">#{{gear.category_name}}</p>
                        <p class="card-text">{{gear.description}}</p>
                        <p class="card-text"><small class="text-muted">Rating: 	{{gear.score}}</small></p>
                        <a href="{{url_for('delete_gear', gear_id=gear._id)}}" role="button" class="btn btn-outline-danger btn-sm">Delete</a>
                        <a href="{{url_for('edit_gear', gear_id=gear._id)}}" role="button" class="btn btn-outline-secondary btn-sm">Edit</a>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
	
{% endfor %}

<h2>Recent Gear</h2>
<div class="h2-spacer"></div>

{% for gear in gear_collection %}
    {% if not gear.is_featured %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{gear.img_url}}" class="card-img" alt="Gear Picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{gear.model}} - {{gear.brand}}</h5>
                        <p class="card-text">#{{gear.category_name}}</p>
                        <p class="card-text">{{gear.description}}</p>
                        <p class="card-text"><small class="text-muted">Rating: 	{{gear.score}}</small></p>
                        <a href="{{url_for('delete_gear', gear_id=gear._id)}}" role="button" class="btn btn-outline-danger btn-sm">Delete</a>
                        <a href="{{url_for('edit_gear', gear_id=gear._id)}}" role="button" class="btn btn-outline-secondary btn-sm">Edit</a>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}