{% extends 'base.html' %}

{% block content %}

<h2>Search Results</h2>
<div class="h2-spacer"></div>
{% if result|length %}
    <div class="container-fluid">
        <div class="row justify-content-between">
    {% for item in result %}
    <div class="card card-custom mb-1">
                <img src="{{item.img_url}}" class="card-img" alt="Gear Picture">
                <div class="card-body text-center">
                    <p class="card-text"><small>#{{item.category_name}}</small></p>
                    <h5 class="card-title">{{item.model}} - {{item.brand}}</h5>
                    <p class="card-text short-description">{{item.description}}</p>
                    <p class="card-text text-bottom"><small class="text-muted">Rating:<br>{{item.score}} Stars</small></p>
                </div>
                <div class="card-footer card-footer-shelter text-center">
                    <a href="{{url_for('gear_details', gear_id=item._id)}}" class="btn btn-primary ">Read More...</a>
                </div>
            </div>
    {% endfor %}
    </div>
    </div>
{% else %}
<div>Nothing Found</div>
{% endif %}

{% endblock %}